flows_DESKTOP-K6P7GKL.json
[{"id":"9835f25a.61849","type":"tab","label":"View","disabled":false,"info":""},{"id":"9ce3be59.18f9","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"6ef237d2.3a0ca8","type":"tab","label":"Development","disabled":false,"info":""},{"id":"3c242358.c9ad9c","type":"tab","label":"Database","disabled":false,"info":""},{"id":"9c7dac8e.a453f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffc72e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4155e94.8e38118","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e49fd7f0.df9118","type":"ui_group","z":"","name":"MQTT","tab":"6630fa23.631b24","disp":true,"width":"6","collapse":false},{"id":"dc3eee4.f93671","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"gmb8evVJpu","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c769719.1fcd88","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.109","port":"8080","clientid":"gmb8evVJpu","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6630fa23.631b24","type":"ui_tab","z":"","name":"Development","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5a6443ee.4cf9bc","type":"http in","z":"9835f25a.61849","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["408cb24b.dfe6dc"]]},{"id":"26ece2f4.8dfa8e","type":"http response","z":"9835f25a.61849","name":"","statusCode":"200","headers":{},"x":400,"y":60,"wires":[]},{"id":"408cb24b.dfe6dc","type":"template","z":"9835f25a.61849","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html;charset=UTF-8\">\n    <title>cheers</title>\n    <style>\n        body {\n            font-family: Helvetica, Arial, sans-serif;\n            color: gray;\n        }\n        img {\n            max-width: 100%;\n        }\n    </style>\n</head>\n<body>\n    <h1>cheers mate!</h1>\n    <img src=\"https://fanart.tv/fanart/tv/76316/showbackground/mr-bean-57c499f019e81.jpg\"/>\n    <p>welcome to my brand new website</p>\n</body>","output":"str","x":250,"y":60,"wires":[["26ece2f4.8dfa8e"]]},{"id":"8619ef8e.6b33e","type":"mosca in","z":"9ce3be59.18f9","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":60,"wires":[["91bbf5a2.4b4ae8"]]},{"id":"91bbf5a2.4b4ae8","type":"debug","z":"9ce3be59.18f9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":60,"wires":[]},{"id":"7bfb2d48.b3a684","type":"ui_button","z":"6ef237d2.3a0ca8","name":"","group":"e49fd7f0.df9118","order":3,"width":"0","height":"0","passthru":false,"label":"Publish","tooltip":"","color":"","bgcolor":"","icon":"","payload":"null","payloadType":"global","topic":"","x":90,"y":60,"wires":[["fed71195.d98c8","ba41eca8.9eb16"]],"outputLabels":["msg.payload"]},{"id":"3c394d39.d79aa2","type":"mqtt out","z":"6ef237d2.3a0ca8","name":"MQTT out","topic":"","qos":"1","retain":"true","broker":"dc3eee4.f93671","x":700,"y":60,"wires":[]},{"id":"fed71195.d98c8","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Payload","tooltip":"click to insert payload","group":"e49fd7f0.df9118","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"payload","x":240,"y":60,"wires":[["27ea7527.c3997a"]]},{"id":"ba41eca8.9eb16","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Topic","tooltip":"click to insert topic","group":"e49fd7f0.df9118","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"topic","x":230,"y":120,"wires":[["27ea7527.c3997a"]]},{"id":"27ea7527.c3997a","type":"join","z":"6ef237d2.3a0ca8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":60,"wires":[["26cb7aa4.7dedb6","6a5a5b91.e82eb4"]]},{"id":"26cb7aa4.7dedb6","type":"function","z":"6ef237d2.3a0ca8","name":"publish","func":"var payload = msg.payload.payload;\nvar topic = msg.payload.topic;\n\nmsg.payload = payload;\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["3c394d39.d79aa2"]]},{"id":"aeae8cb0.36cc4","type":"mqtt in","z":"9ce3be59.18f9","name":"","topic":"/value","qos":"2","broker":"dc3eee4.f93671","x":90,"y":140,"wires":[["adb8bc86.1bc4a"]]},{"id":"adb8bc86.1bc4a","type":"ui_chart","z":"9ce3be59.18f9","name":"","group":"e49fd7f0.df9118","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":230,"y":140,"wires":[[]]},{"id":"6a5a5b91.e82eb4","type":"debug","z":"6ef237d2.3a0ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":120,"wires":[]}]