flows_DESKTOP-K6P7GKL.json
[{"id":"6ef237d2.3a0ca8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"9835f25a.61849","type":"tab","label":"View","disabled":false,"info":""},{"id":"9ce3be59.18f9","type":"tab","label":"Broker","disabled":false,"info":""},{"id":"3c242358.c9ad9c","type":"tab","label":"Device API","disabled":false,"info":""},{"id":"9c7dac8e.a453f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#ffc72e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4155e94.8e38118","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e49fd7f0.df9118","type":"ui_group","z":"","name":"MQTT Broker","tab":"6630fa23.631b24","disp":true,"width":"6","collapse":false},{"id":"dc3eee4.f93671","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"gmb8evVJpu","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6630fa23.631b24","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"917098cd.a6cba8","type":"mongodb-config","z":"","hostname":"localhost","port":"27017","db":"greenhouse","name":""},{"id":"1005393b.951db7","type":"ui_group","z":"","name":"Database","tab":"6630fa23.631b24","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc100633.060398","type":"ui_spacer","name":"spacer","group":"1005393b.951db7","order":4,"width":"0","height":"0"},{"id":"5a6443ee.4cf9bc","type":"http in","z":"9835f25a.61849","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["408cb24b.dfe6dc"]]},{"id":"26ece2f4.8dfa8e","type":"http response","z":"9835f25a.61849","name":"","statusCode":"200","headers":{},"x":400,"y":60,"wires":[]},{"id":"408cb24b.dfe6dc","type":"template","z":"9835f25a.61849","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html;charset=UTF-8\">\n    <title>cheers</title>\n    <style>\n        body {\n            font-family: Helvetica, Arial, sans-serif;\n            color: gray;\n        }\n        img {\n            max-width: 50%;\n        }\n    </style>\n</head>\n<body>\n    <h1>cheers mate!</h1>\n    <img src=\"https://fanart.tv/fanart/tv/76316/showbackground/mr-bean-57c499f019e81.jpg\"/>\n    <p>welcome to my brand new website</p>\n</body>","output":"str","x":250,"y":60,"wires":[["26ece2f4.8dfa8e"]]},{"id":"8619ef8e.6b33e","type":"mosca in","z":"9ce3be59.18f9","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":130,"y":60,"wires":[["91bbf5a2.4b4ae8"]]},{"id":"91bbf5a2.4b4ae8","type":"debug","z":"9ce3be59.18f9","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":340,"y":60,"wires":[]},{"id":"7bfb2d48.b3a684","type":"ui_button","z":"6ef237d2.3a0ca8","name":"","group":"e49fd7f0.df9118","order":3,"width":"0","height":"0","passthru":false,"label":"Publish","tooltip":"","color":"","bgcolor":"","icon":"","payload":"null","payloadType":"global","topic":"","x":100,"y":60,"wires":[["fed71195.d98c8","ba41eca8.9eb16"]],"outputLabels":["msg.payload"]},{"id":"3c394d39.d79aa2","type":"mqtt out","z":"6ef237d2.3a0ca8","name":"MQTT out","topic":"","qos":"2","retain":"true","broker":"dc3eee4.f93671","x":720,"y":60,"wires":[]},{"id":"fed71195.d98c8","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Payload","tooltip":"click to insert payload","group":"e49fd7f0.df9118","order":2,"width":"0","height":"0","passthru":false,"mode":"text","delay":"0","topic":"payload","x":260,"y":120,"wires":[["27ea7527.c3997a"]]},{"id":"ba41eca8.9eb16","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Topic","tooltip":"click to insert topic","group":"e49fd7f0.df9118","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","x":250,"y":60,"wires":[["27ea7527.c3997a"]]},{"id":"27ea7527.c3997a","type":"join","z":"6ef237d2.3a0ca8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":60,"wires":[["26cb7aa4.7dedb6"]]},{"id":"26cb7aa4.7dedb6","type":"function","z":"6ef237d2.3a0ca8","name":"publish","func":"var payload = msg.payload.payload;\nvar topic = msg.payload.topic;\n\nmsg.payload = payload;\nmsg.topic = topic;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":60,"wires":[["3c394d39.d79aa2"]]},{"id":"7e6b33dc.cc435c","type":"mongodb-node","z":"6ef237d2.3a0ca8","mongodb":"917098cd.a6cba8","name":"","collection":"test","operation":"insert","upsert":false,"multi":false,"x":770,"y":200,"wires":[[]]},{"id":"f2ef0065.a98e4","type":"ui_button","z":"6ef237d2.3a0ca8","name":"","group":"1005393b.951db7","order":3,"width":0,"height":0,"passthru":false,"label":"Post","tooltip":"","color":"","bgcolor":"","icon":"","payload":"null","payloadType":"global","topic":"","x":90,"y":200,"wires":[["5135b11.1ff775","18a9ce22.b35762"]]},{"id":"5135b11.1ff775","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Key","tooltip":"click to insert key","group":"1005393b.951db7","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"key","x":250,"y":200,"wires":[["9bb3f370.8d21d"]]},{"id":"18a9ce22.b35762","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Data","tooltip":"click to insert data","group":"1005393b.951db7","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"data","x":250,"y":260,"wires":[["9bb3f370.8d21d"]]},{"id":"9bb3f370.8d21d","type":"join","z":"6ef237d2.3a0ca8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":200,"wires":[["d09d5d95.6adf2"]]},{"id":"d09d5d95.6adf2","type":"function","z":"6ef237d2.3a0ca8","name":"post","func":"var data = msg.payload.data;\nvar key = msg.payload.key;\n\nmsg.payload = {key, data};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["7e6b33dc.cc435c"]]},{"id":"1a7f64ae.77873b","type":"ui_button","z":"6ef237d2.3a0ca8","name":"","group":"1005393b.951db7","order":6,"width":0,"height":0,"passthru":false,"label":"Get","tooltip":"","color":"","bgcolor":"","icon":"","payload":"null","payloadType":"global","topic":"","x":90,"y":340,"wires":[["68fdc68c.a71f88"]]},{"id":"68fdc68c.a71f88","type":"ui_text_input","z":"6ef237d2.3a0ca8","name":"","label":"Key","tooltip":"click to insert key","group":"1005393b.951db7","order":5,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"key","x":230,"y":340,"wires":[["3f7aee3.2600412"]]},{"id":"cb199490.93cd18","type":"mongodb-node","z":"6ef237d2.3a0ca8","mongodb":"917098cd.a6cba8","name":"","collection":"test","operation":"find","upsert":false,"multi":false,"x":590,"y":340,"wires":[["73cee8df.6a67c8"]]},{"id":"73cee8df.6a67c8","type":"ui_text","z":"6ef237d2.3a0ca8","group":"1005393b.951db7","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload[0].data}}","layout":"col-center","x":810,"y":340,"wires":[]},{"id":"3f7aee3.2600412","type":"join","z":"6ef237d2.3a0ca8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":340,"wires":[["cb199490.93cd18"]]},{"id":"8c66b090.3cdab","type":"mqtt in","z":"6ef237d2.3a0ca8","name":"","topic":"/value","qos":"2","broker":"dc3eee4.f93671","x":90,"y":420,"wires":[["51576bb7.1a44a4"]]},{"id":"51576bb7.1a44a4","type":"ui_chart","z":"6ef237d2.3a0ca8","name":"","group":"e49fd7f0.df9118","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":230,"y":420,"wires":[[]]},{"id":"81ba5c6d.a09bc","type":"mqtt out","z":"3c242358.c9ad9c","name":"","topic":"/device/get/response","qos":"2","retain":"true","broker":"dc3eee4.f93671","x":1140,"y":180,"wires":[]},{"id":"29c37c12.a934f4","type":"mqtt in","z":"3c242358.c9ad9c","name":"","topic":"/device/new","qos":"2","broker":"dc3eee4.f93671","x":110,"y":120,"wires":[["64f0e101.d008a"]]},{"id":"64f0e101.d008a","type":"function","z":"3c242358.c9ad9c","name":"device new validation","func":"/* INPUT:\n{\n\t\"mac\": \"89:75\",\n\t\"sensors\": [{\n\t\t\"type\": 1\n\t}, {\n\t\t\"type\": 2\n\t}],\n\t\"actuators\": [{\n\t\t\"type\": 1\n\t}, {\n\t\t\"type\": 2\n\t}]\n}\n*/\n\ntry {\n    var data = JSON.parse(msg.payload);\n    \n    var json = {};\n    json[\"mac\"] = String(data[\"mac\"]);\n    json[\"online\"] = 1;\n    \n    var array = [];\n    if(data.sensors) {\n        for (var i = 0; i < data.sensors.length; i++) {\n            var sensor_json = {};\n            sensor_json[\"type\"] = data.sensors[i][\"type\"];\n            sensor_json[\"current_value\"] = \"null\";\n            sensor_json[\"ideal_value\"] = \"null\";\n            sensor_json[\"history\"] = [];\n            array.push(sensor_json);\n        }\n    }\n    json[\"sensors\"] = array;\n    \n    var array = [];\n    if(data.actuators) {\n        for (var i = 0; i < data.actuators.length; i++) {\n            var actuator_json = {};\n            actuator_json[\"type\"] = data.actuators[i][\"type\"];\n            actuator_json[\"current_state\"] = \"null\";\n            actuator_json[\"user_state\"] = \"null\";\n            actuator_json[\"activation\"] = [];\n            actuator_json[\"time_activation\"] = [];\n            array.push(actuator_json);\n        }\n    }\n    json[\"actuators\"] = array;\n    \n    msg.payload = json;\n    \n} catch (error) {\n    console.log(\"ERROR: device new validation, \" + error);\n    msg.payload = null;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["30c3a9ad.654f76"]]},{"id":"30c3a9ad.654f76","type":"mongodb-node","z":"3c242358.c9ad9c","mongodb":"917098cd.a6cba8","name":"","collection":"devices","operation":"store","upsert":true,"multi":false,"x":610,"y":120,"wires":[["6771efae.9cd1a"]]},{"id":"4d3dd8d7.94bf18","type":"mqtt out","z":"3c242358.c9ad9c","name":"","topic":"/device/new/response","qos":"2","retain":"true","broker":"dc3eee4.f93671","x":1140,"y":120,"wires":[]},{"id":"6771efae.9cd1a","type":"function","z":"3c242358.c9ad9c","name":"device new response","func":"try {\n    data = msg.payload.ops[0];\n    \n    var json = {};\n    json[\"mac\"] = data[\"mac\"];\n    \n    msg.payload = json;\n    \n} catch (error) {\n    console.log(\"ERROR: device new response, \" + error);\n    msg.payload = \"error\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":120,"wires":[["4d3dd8d7.94bf18"]]},{"id":"c177e29b.121a5","type":"mqtt in","z":"3c242358.c9ad9c","name":"","topic":"/device/get","qos":"2","broker":"dc3eee4.f93671","x":100,"y":180,"wires":[["b959dae.f2ea628"]]},{"id":"b959dae.f2ea628","type":"function","z":"3c242358.c9ad9c","name":"device get validation","func":"/* INPUT:\n{\n    \"mac\":\"89:70\",\n}\n*/\n\ntry {\n    var data = JSON.parse(msg.payload);\n    \n    var json = {};\n    json[\"mac\"] = String(data[\"mac\"]);\n\n    msg.payload = json;\n    \n    msg.projection = {\n        \"sensors.history\": 0\n    };\n    \n    msg.hello = 4;\n    \n} catch (error) {\n    console.log(\"ERROR: device get validation, \" + error);\n    msg.payload = null;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["f054063c.fab588"]]},{"id":"f054063c.fab588","type":"mongodb-node","z":"3c242358.c9ad9c","mongodb":"917098cd.a6cba8","name":"","collection":"devices","operation":"find","upsert":true,"multi":false,"x":610,"y":180,"wires":[["c469e77.83df418"]]},{"id":"c469e77.83df418","type":"function","z":"3c242358.c9ad9c","name":"device get response","func":"try {\n    delete msg.payload[0]._id;\n    msg.payload = msg.payload[0];\n    \n} catch (error) {\n    console.log(\"ERROR: device get response, \" + error);\n    msg.payload = \"error\";\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":900,"y":180,"wires":[["81ba5c6d.a09bc"]]},{"id":"434d2aa.93129d4","type":"comment","z":"3c242358.c9ad9c","name":"device signup","info":"","x":110,"y":60,"wires":[]},{"id":"7a29d71b.dae528","type":"mongodb-node","z":"3c242358.c9ad9c","mongodb":"917098cd.a6cba8","name":"","collection":"devices","operation":"update","upsert":false,"multi":true,"x":610,"y":320,"wires":[[]]},{"id":"5feff3ad.5c033c","type":"mqtt in","z":"3c242358.c9ad9c","name":"","topic":"/history/add","qos":"2","broker":"dc3eee4.f93671","x":110,"y":320,"wires":[["1fc68372.740ebd"]]},{"id":"1fc68372.740ebd","type":"function","z":"3c242358.c9ad9c","name":"history add validation","func":"/* INPUT:\n{\n    \"mac\":\"89:70\",\n    \"type\":2,\n    \"value\":20\n}\n*/\n\ntry {\n    var data = JSON.parse(msg.payload);\n    \n    var mac = String(data[\"mac\"]);\n    var type = parseInt(data[\"type\"]);\n    var value = parseFloat(data[\"value\"]);\n    var datetime = new Date();\n    \n    msg.query = {\n            \"mac\": mac,\n            \"sensors.type\": type\n        };\n    \n    msg.payload = {\n            \"$push\": {\n                \"sensors.$.history\": {\n                    \"value\": value,\n                    \"date_time\": datetime\n                }\n            }\n        };\n    \n} catch (error) {\n    console.log(\"ERROR: history add validation, \" + error);\n    msg.payload = null;\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["7a29d71b.dae528"]]},{"id":"7d9a9db7.f065e4","type":"comment","z":"3c242358.c9ad9c","name":"sensor history","info":"","x":110,"y":260,"wires":[]}]